// Colors
$brand-primary:         #016E73;
$brand-success:         #01B8C0;
$brand-info:            #030F6A;
$brand-warning:         #FFCC33;
$brand-danger:          #FF2500;
$brand-primary-light:   #E5F7F8;
$brand-gray:            #EEEEEE;

$primary:       $brand-primary;
$secondary:     #333;
$success:       $brand-success !default;
$info:          $brand-info !default;
$warning:       $brand-warning !default;
$danger:        $brand-danger !default;

// Typography
$headings-font-family: 'Noto Sans', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-weight: 700;

$text-color: #333;


// Header
$navbar-nav-link-padding-x: 1rem;
