// Colors
$brand-primary:         #016E73;
$brand-success:         #01B8C0;
$brand-info:            #030F6A;
$brand-warning:         #FFCC33;
$brand-danger:          #FF2500;

// Typography
$headings-font-family: 'Noto Sans', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;

$text-color: #333;
