@import "custom_variables";
@import "bootstrap.scss";
@import "sticky_footer";

body {
  min-height: 100%;
}

main {
  margin-top: 95px;
}

// Links
a {
  font-weight: 600;
  color: $brand-primary;
  &:hover {
    color: $brand-success;
    text-decoration: none;
  }
}

.fa {
  margin-right: 5px;
}

.fill-image {
  min-height: 100%;
  background-size: cover;
}

.page-section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  z-index: 5;

  .row {
    position: relative;
  }
}

// navigation
.navbar.bg-light {
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.2);
}

.navbar-light.main-nav {
  a.nav-link {
    color: $brand-primary;
    font-family: $headings-font-family;
    font-size: 18px;
    font-weight: 600;
    &:hover {
      color: $brand-success;
    }
  }
  min-height: 80px;
  #menu-primary-menu {
    margin-left: auto;
  }
}

.navbar-circle {
  border-radius: 100%;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  min-height: 200px;
  position: fixed;
  top: -50px;
  left: 20px;
  @media screen and (max-width: map-get($grid-breakpoints, lg)) {
    right: 20px;
    left: auto;
  }
  background-color: #fff;
  z-index: 1050;
  background-image: url("../images/logo.png");
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: 70%;
  transition: 1s;
}

.secondary-nav {
  position: absolute;
  font-size: 14px;
  background-color: $brand-info;
  width: 100%;
  top: 0px;
  min-height: 40px;
  z-index: 1040;

  a {
    color: #fff;
    &:hover {
      color: $brand-success;
    }
    font-weight: 400;
  }

  ul {
    margin-bottom: 0;
    margin: 0; padding: 0;
    list-style-type: none;
    list-style-image: none;

    li {
      display: inline;
      padding: 5px 0px 5px 10px
    }
  }
}

.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

// footer
footer.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  box-shadow: 0px -1px 11px rgba(0, 0, 0, 0.2);
  min-height: 450px;

  .footer-links {
    a {
      font-weight: 400;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  .footer-logo {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-secondary {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    background-color: $brand-primary;
    color: #fff;
    min-height: 50px;

    a {
      color: #fff;
      &:hover {
        color: $brand-success;
      }
    }

    ul.footer-secondary-links {
      margin-bottom: 0;
      margin: 0; padding: 0;
      list-style-type: none;
      list-style-image: none;

      li {
        display: inline;
        padding: 5px 0px 5px 20px
      }
    }
  }
}

// hero
.hero {
  margin-top: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 300px;
  &.full {
    min-height: 500px;
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  align-items: center;

  background-image: url("../images/hero.png");

  .row {
    align-items: flex-start;
  }

  .text-overlay {
    background: linear-gradient(to bottom right, $brand-success, $brand-primary);
    color: #fff;
    border-radius: 10px;
    padding: 40px;
    position: relative;

    a {
      color: #fff;
      &:hover {
        color: $brand-primary;
      }
    }
  }

  .hero-buttons {
    position: absolute;
    bottom: -20px;
    z-index: 10;
  }
}

.content {
  z-index: 10;
  position: relative;
}
.sparkle {
  z-index: 0;
  background-image: url("../images/sparkle.png");
  background-position: top;
  background-repeat: repeat-x;
  // background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.sparkle-side {
  background-image: url("../images/sparkle-side.png");
  background-position: right;
  background-repeat: repeat-y;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.mid-page-cta {
  background-color: $brand-primary-light;
  padding-top: 25px;
  background-image: url("../images/fireworks.svg");
  background-position: 5% 50%;
  background-repeat: no-repeat;
}

.wheel-background {
  // z-index: -100;
  background-color: $brand-primary-light;
  min-height: 300px;
  position: relative;
  .wheel {
    position: absolute;
    bottom: 0;
    left: -20px;
    min-height: 120%;
    opacity: 0.1;
    @media (max-width: 991px) {
      max-width: 100vw;
      min-height: 0;
    }
  }
}

.grizzly-background {
  // z-index: -100;
  background-color: $brand-primary-light;
  min-height: 500px;
  position: relative;
  .peak {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    max-width: 100vw;
  }
}

.testimonial-background {
  // z-index: -100;
  background-color: $brand-gray;
  min-height: 500px;
  position: relative;
  .mountain {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    opacity: 1;
    max-width: 100vw;
  }
  .carousel-control-next {
    right: -30px;
  }
  .carousel-control-prev {
    left: -30px;
  }
  .carousel-indicators {
    bottom: -40px;
  }
  .card {
    background: linear-gradient(to bottom right, $brand-success, $brand-primary);
    text-align: left;
    .card-body {
      color: #fff;
      font-size: 36px;
    }
    .card-footer {
      background-color: $brand-warning;
    }
  }
}

.about-card {
  background: linear-gradient(to bottom right, $brand-success, $brand-primary);
  color: #fff;
  margin-top: 80px;
  margin-bottom: 80px;

  h2 {
    color: #fff;
  }

  .card-img-bottom {
    color: #fff;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btn-float {
    position: absolute;
    bottom: -40px;
  }

  .text-area {
    @include media-breakpoint-down(sm) {
      order: 2;
      margin-top: 30px;
    }
  }
}

//**************** Bootstrap Elements

// forms
div.wpforms-container-full .wpforms-form input[type=submit],
div.wpforms-container-full .wpforms-form button[type=submit] {
    background-color: $brand-primary;
    border: none;
}

div.wpforms-container-full .wpforms-form input[type=submit]:hover,
div.wpforms-container-full .wpforms-form input[type=submit]:active,
div.wpforms-container-full .wpforms-form button[type=submit]:hover,
div.wpforms-container-full .wpforms-form button[type=submit]:active,
div.wpforms-container-full .wpforms-form .wpforms-page-button:hover,
div.wpforms-container-full .wpforms-form .wpforms-page-button:active {
    background-color: $brand-info;
    border: none;
}

// Cards
.card {
  border: none;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
  z-index: 5;

  &.mouse-meet {
    height: 100%;
  }

  .card-header {
    position: relative;
    background: linear-gradient(to bottom right, $brand-success, $brand-primary);
    h1 {
      margin-bottom: 0px;
      color: #fff;
    }
  }

  .card-title {
    color: $brand-info;
  }

  .main-image {
    min-height: 300px;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-image: url("../images/logo.png");
  }

  .card-footer {
    position: relative;
    margin-top: 60px;
    min-height: 75px;
    border-top: none;
    background-color: $brand-primary-light;

    .sponsor-img {
      border-radius: 100%;
    }

    &.speaker-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      .speaker-img {
        width: 90px;
        height: 90px;
        @media(min-width: map-get($grid-breakpoints, md)) {
          width: 80px;
          height: 80px;
        }
        @media(min-width: map-get($grid-breakpoints, lg)) {
          width: 90px;
          height: 90px;
        }
        border-radius: 100%;
        background-size: cover;
        margin-top: -40px;

        .speaker-btn {
          width: 100%;
          height: 100%;
          display: block;
        }

        &.legend {
          border: 5px solid $brand-primary;
        }
      }
    }
  }
}

// Popover
.popover-header {
  background: linear-gradient(to bottom right, $brand-success, $brand-primary);
  color: #fff;
}

// Typography
h2 {
  color: $brand-primary;
}

h4 {
  color: $brand-primary;
}

.intro-paragraph {
  margin-bottom: 50px;
  text-align: center;
}

.align-center {
  text-align: center;
}

p.intro {
  font-size: 24px;
}

//**************** Custom Post Types
.sponsor {
  text-align: center;

  .sponsor-logo {
    border-radius: 100%;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 220px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .sponsor-icon {
      background-color: $brand-danger;
      width: 75px;
      height: 75px;
      max-width: 100%;
      position: absolute;
      top: -10px;
      right: -10px;
      border-radius: 100%;

      &.platinum {
        background-color: $brand-warning;
      }
    }

    .logo-image {
      max-width: 80%;
      max-height: 80%;
    }
  }
}

.to-do {
  text-align: center;

  margin-bottom: 20px;

  .to-do-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .logo-image {
      max-width: 80%;
      max-height: 80%;
    }
  }
}

.mouse-meets {
  display: flex;
  align-items: stretch;

  div[class^="col-"] {
    margin-bottom: 30px;
  }
}

@include media-breakpoint-down(sm) {
  [class*="col-"]:not(:first-child){
      margin-top: 30px;
  }
}
