@import "custom_variables";
@import "bootstrap.scss";
@import "sticky_footer";

body {
  min-height: 100%;
}
// Links
a {
  font-weight: 600;
  color: $brand-primary;
  &:hover {
    color: $brand-success;
    text-decoration: none;
  }
}

// navigation
.navbar.bg-light {
  box-shadow: 0px 1px 11px rgba(201, 201, 201, 50);
}

.navbar-light.main-nav {
  a.nav-link {
    color: $brand-primary;
    &:hover {
      color: $brand-success;
    }
  }
}
.secondary-nav {
  font-size: 14px;
  background-color: $brand-info;
  width: 100%;
  top: 0px;
  min-height: 40px;
  z-index: 100;

  a {
    color: #fff;
    &:hover {
      color: $brand-success;
    }
    font-weight: 400;
  }

  ul {
    margin-bottom: 0;
    margin: 0; padding: 0;
    list-style-type: none;
    list-style-image: none;

    li {
      display: inline;
      padding: 5px 0px 5px 10px
    }
  }
}

// footer
footer.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  box-shadow: 0px -1px 11px rgba(201, 201, 201, 50);
  min-height: 450px;

  .footer-links {
    a {
      font-weight: 400;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  .footer-secondary {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    background-color: $brand-primary;
    color: #fff;
    min-height: 50px;

    a {
      color: #fff;
      &:hover {
        color: $brand-success;
      }
    }

    ul.footer-secondary-links {
      margin-bottom: 0;
      margin: 0; padding: 0;
      list-style-type: none;
      list-style-image: none;

      li {
        display: inline;
        padding: 5px 0px 5px 20px
      }
    }
  }
}

// hero
.hero-full {
  margin-top: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  background-image: url("../images/gamble house.jpg");

  .text-overlay {
    background: linear-gradient(to bottom right, $brand-success, $brand-primary);
    color: #fff;
    border-radius: 10px;
    max-width: 400px;
    padding: 40px;
    position: relative;
  }
}

.sparkle {
  background-image: url("../images/sparkle.png");
  background-position: top;
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}
